.Snakes .Snakes {
	&__ControlPanel {
		position: absolute;
		display: flex;
		padding: rem(5px);
		z-index: 3;
	}

	&__ControlItem {
		min-width: rem(80px);
		padding-left: rem(20px);
		padding-right: rem(20px);
		border-right: rem(1px) solid;

		&:last-child {
			border-right: none;
		}
	}
}

