.Snakes .Snakes {
	&__ControlPanel {
		position: absolute;
		display: flex;
		padding: rem(5px);
		z-index: 3;
	}

	&__ControlItem {
		border-right: rem(1px) solid;

		&:last-child {
			border-right: none;
		}
	}
}

