.Snake .Snake {
	&__Settings {
		margin-bottom: 10px;
	}

	&__SettingsArea {
		display: inline-block;
		width: fit-content;
		margin-bottom: 10px;
		border-radius: 5px;
	}

	&__ControlButtons {
		margin-top: 4px;
	}
}
