.Snake {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(0deg, transparent 0, #0A045D 100%), url('../../assets/images/bg.jpeg');
	background-position: center;

	.Snake {
	
		&__Layer {
			position: absolute;
		}

		&__Presenter {
			width: 100vw;
			height: 100vh;
			z-index: 1;

			&:focus{
				outline: none;
			}
		}

		&__Stat {
			top: 0;
			left: 0;
			width: 100vw;
			height: 100px;
			opacity: 0.6;
			z-index: 0;
		}

		&__ServiceInfo {
			top: 0;
			right: 0;
			width: 300px;
			height: 100vh;
			z-index: 2;
		}
	}
}