.Snakes .Snakes__ControlScreen {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;

	h3 {
		padding-bottom: rem(20px);
	}

	&ContentContainer {
		position: relative;
		width: auto;
		height: auto;
		padding: rem(20px) rem(50px);
		font-size: rem(20px);
		color: #DAF7A6;
		text-align: center;
	}

	&Content {
		min-width: rem(650px);
		min-height: rem(250px);
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: center;

		p {
			margin: rem(5px) 0;
		}
	}

	&Dimmer {
		position: absolute;
		width: 100vw;
		height: 100vh;
		background-color: #0A045D;
		opacity: 0.6;
	}

	&Close {
		position: absolute;
		top: 0;
		right: 0;
	}

	.Snakes {

		&__AvailableRoomsList {
			height: rem(110px);
			padding: rem(10px) 0 rem(20px);
			border: rem(1px) solid;
			list-style: none;
			overflow-x: hidden;
			overflow-y: scroll;
		}

		&__AvailableRoom {
			max-width: fit-content;
			margin: 0 auto;
			padding: rem(2px) 0;
			border-bottom: rem(2px) solid;
		}

		&__AvailableRoomLink {
			cursor: pointer;
		}

		&__ControlScreenControls {
			margin-top: rem(50px);
			padding-top: rem(30px);
			border-top: rem(2px) solid #FFFF00;
		}

		&__RoomActionControl {
			min-width: rem(160px);
			padding: 0 rem(25px);
			height: rem(25px);
			border: rem(2px) solid;
		}

		&__RoomName {
			margin-top: rem(20px);
		}
	}
}