@import './common';
@import './presenter';
@import './controlPanel';
@import './controlScreen';

body {
	margin: 0;
	font-family: Consolas, monaco, monospace;
}

.Snakes {
	*.-hidden {
		display: none;
	}

	&__GitHubLink {
		position: absolute;
		top: rem(5px);
		right: 0;
		z-index: 10;
	}
}
