@import './common';
@import './presenter';
@import './controlPanel';
@import './modal';
@import './controlScreen';

body {
	margin: 0;
	font-family: Consolas, monaco, monospace;
}

.Snakes {
	*.-hidden {
		display: none;
	}	
}
