.Snakes .Snakes {
	&__Modal {
		position: absolute;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 3;

		&.-hidden, .-hidden {
			display: none;
		}
	}

	&__ModalDimmer {
		position: absolute;
		width: 100vw;
		height: 100vh;
		background-color: #0A045D;
		opacity: 0.6;
	}

	&__ModalContentContainer {
		position: relative;
		width: auto;
		height: auto;
		padding: rem(20px) rem(50px);
	}

	&__ModalContent {
		font-size: rem(20px);
		color: #DAF7A6;
		text-align: center;
	}

	&__ModalClose {
		position: absolute;
		top: 0;
		right: 0;
	}
}