.inpt {
	font-family: Consolas, monaco, monospace;
	border: rem(2px) solid #FFFF00;

	&:focus{
		outline: none;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&[type=number] {
		-moz-appearance: textfield;
	}
}
