.Snake .Snake{
	&__Controls {
		position: absolute;
		padding: 5px;
		z-index: 3;

		button {
			&:focus{
				outline: none;
			}
		}
	}

	&__PlayMusic {
		background: transparent;
		border: none;
		color: #FFFF00;
	}
}

